package Net::Drizzle::Column;
use strict;
use warnings;

# nop

1;

__END__

=pod

=head1 NAME

Net::Drizzle::Column - Column object for Net::Drizzle

=head1 METHODS

=over 4
[% FOR meth IN methods %]
=item [% meth.name %]

[% meth.doc %]
[% END %]

=back

=head1 SEE ALSO

L<Net::Drizzle>

=cut

